.ph3.tc.sans-serif
  .f3.f1-ns.lh-title.mt1.mt4-ns.mb4 How's the Waterfall Doing?

  .mb4.mb3-ns
    span> Last
    - @presenter.spans.each do |span|
      = link_to span.titlecase, dashboard_path(:span => span),
        :class => "f7 f5-ns pv1 ph3 mh2 ba no-underline black #{'b' if @presenter.current_span?(span)}"
  .cf
    .fl.w-100.w-50-ns.ph4-ns.pb4
      .f2.f2-m.f-subheadline-l.ma0.blue
        == number_with_precision @presenter.current_level, :precision => 2
        | "
      = line_chart graph_path(:model => :level, :span => @presenter.span),
        :points => false, :suffix => '"', :min => 5, :max => 12,
        :height => '230px'

    .fl.w-100.w-50-ns.ph4-ns
      .fl.w-50.f2.f2-m.f-subheadline-l.ma0.blue
        == number_with_precision @presenter.current_water_temp, :precision => 1
        | °F
      .fl.w-50.f2.f2-m.f-subheadline-l.ma0.red
        == number_with_precision @presenter.current_air_temp, :precision => 1
        | °F
      = line_chart graph_path(:models => [:water_temp, :air_temp], :span => @presenter.span),
        :points => false, :suffix => '°F', :min => 50, :max => 100,
        :height => '230px'
