doctype html
html
  head
    title Waterfaller
    = csrf_meta_tags
    = csp_meta_tag
    meta(name="viewport" content="width=device-width")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="white")
    link(rel="shortcut icon" href="//#{request.url.split('/')[2]}/favicon.png")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="apple-touch-startup-image" href="/apple-touch-icon.png")

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = yield
